{# http deployment with additional IP for Dual-Stack deployments

network:
- SNAT
- TCP full proxy
- Additional IPv4/IPv6 address (optional)

LB:
- Method: least connections
- Persistence: cookie, fallback is source address

http feature:
- X-Forwarded-For header
- Default http monitor

vars:
  - vip: <virtual server ip address>
  - vip_2: <optional virtual server ip address>
  - members:
    -
      ip: <pool member ip>
      port: <pool member port>

############################################################
#}
{
  "tables": [
    {
      "name": "feature__easyL4FirewallBlacklist"
    },
    {
      "name": "feature__easyL4FirewallSourceList",
      "columnNames": [
        "CIDRRange"
      ],
      "rows": [
        {
          "row": [
            "0.0.0.0/0"
          ]
        }
      ]
    },
    {
      "name": "l7policy__rulesAction",
      "columnNames": [
        "Group",
        "Target",
        "Parameter"
      ]
    },
    {
      "name": "l7policy__rulesMatch",
      "columnNames": [
        "Group",
        "Operand",
        "Negate",
        "Condition",
        "Value",
        "CaseSensitive",
        "Missing"
      ]
    },
    {
      "name": "monitor__Monitors",
      "columnNames": [
        "Index",
        "Name",
        "Type",
        "Options"
      ],
      "rows": [
        {
          "row": [
            "0",
            "/Common/http",
            "none",
            "none"
          ]
        }
      ]
    },
    {
      "name": "pool__Members",
      "columnNames": [
        "Index",
        "IPAddress",
        "Port",
        "ConnectionLimit",
        "Ratio",
        "PriorityGroup",
        "State",
        "AdvOptions"
      ],
      "rows": [
{% for member in members %}
        {
          "row": [
            "0",
            "{{ member.ip }}",
            "{{ member.port }}",
            "0",
            "1",
            "0",
            "enabled",
            "none"
          ]
  {% if loop.last %}
        }
  {% else%}
        },
  {% endif %}
{% endfor %}
      ]
    },
    {
      "name": "pool__Pools",
      "columnNames": [
        "Index",
        "Name",
        "Description",
        "LbMethod",
        "Monitor",
        "AdvOptions"
      ],
      "rows": [
        {
          "row": [
            "0",
            "",
            "",
            "least-connections-member",
            "0",
            "none"
          ]
        }
      ]
    },
    {
      "name": "vs__BundledItems",
      "columnNames": [
        "Resource"
      ]
    },
    {
      "name": "vs__Listeners",
      "columnNames": [
        "Listener",
        "Destination"
{% if vip_2 %}
      ],
      "rows": [
        {
          "row": [
            "{{ vip_2 }}:80",
            "0"
          ]
        }
{% endif %}
      ]
    }
  ],
  "variables": [
    {
      "name": "extensions__Field1",
      "encrypted": "no"
    },
    {
      "name": "extensions__Field2",
      "encrypted": "no"
    },
    {
      "name": "extensions__Field3",
      "encrypted": "no"
    },
    {
      "name": "feature__easyL4Firewall",
      "encrypted": "no",
      "value": "disabled"
    },
    {
      "name": "feature__insertXForwardedFor",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "feature__redirectToHTTPS",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "feature__securityEnableHSTS",
      "encrypted": "no",
      "value": "disabled"
    },
    {
      "name": "feature__sslEasyCipher",
      "encrypted": "no",
      "value": "disabled"
    },
    {
      "name": "feature__statsHTTP",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "feature__statsTLS",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "iapp__apmDeployMode",
      "encrypted": "no",
      "value": "preserve-bypass"
    },
    {
      "name": "iapp__appStats",
      "encrypted": "no",
      "value": "enabled"
    },
    {
      "name": "iapp__asmDeployMode",
      "encrypted": "no",
      "value": "preserve-bypass"
    },
    {
      "name": "iapp__logLevel",
      "encrypted": "no",
      "value": "7"
    },
    {
      "name": "iapp__mode",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "iapp__routeDomain",
      "encrypted": "no",
      "value": "auto"
    },
    {
      "name": "iapp__strictUpdates",
      "encrypted": "no",
      "value": "enabled"
    },
    {
      "name": "l7policy__defaultASM",
      "encrypted": "no"
    },
    {
      "name": "l7policy__defaultL7DOS",
      "encrypted": "no"
    },
    {
      "name": "l7policy__strategy",
      "encrypted": "no",
      "value": "/Common/first-match"
    },
    {
      "name": "pool__DefaultPoolIndex",
      "encrypted": "no",
      "value": "0"
    },
    {
      "name": "pool__MemberDefaultPort",
      "encrypted": "no",
      "value": "80"
    },
    {
      "name": "pool__addr",
      "encrypted": "no",
      "value": "{{ vip }}"
    },
    {
      "name": "pool__mask",
      "encrypted": "no",
      "value": "255.255.255.255"
    },
    {
      "name": "pool__port",
      "encrypted": "no",
      "value": "80"
    },
    {
      "name": "vs__AdvOptions",
      "encrypted": "no"
    },
    {
      "name": "vs__AdvPolicies",
      "encrypted": "no"
    },
    {
      "name": "vs__AdvProfiles",
      "encrypted": "no"
    },
    {
      "name": "vs__ConnectionLimit",
      "encrypted": "no",
      "value": "0"
    },
    {
      "name": "vs__Description",
      "encrypted": "no"
    },
    {
      "name": "vs__IpProtocol",
      "encrypted": "no",
      "value": "tcp"
    },
    {
      "name": "vs__Name",
      "encrypted": "no"
    },
    {
      "name": "vs__Irules",
      "encrypted": "no"
    },
    {
      "name": "vs__OptionConnectionMirroring",
      "encrypted": "no",
      "value": "disabled"
    },
    {
      "name": "vs__OptionSourcePort",
      "encrypted": "no",
      "value": "preserve"
    },
    {
      "name": "vs__ProfileAccess",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileAnalytics",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileClientProtocol",
      "encrypted": "no",
      "value": "/Common/tcp"
    },
    {
      "name": "vs__ProfileClientSSL",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileClientSSLAdvOptions",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileClientSSLCert",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileClientSSLChain",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileClientSSLCipherString",
      "encrypted": "no",
      "value": "DEFAULT"
    },
    {
      "name": "vs__ProfileClientSSLKey",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileCompression",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileConnectivity",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileDefaultPersist",
      "encrypted": "no",
      "value": "/Common/cookie"
    },
    {
      "name": "vs__ProfileFallbackPersist",
      "encrypted": "no",
      "value": "/Common/source_addr"
    },
    {
      "name": "vs__ProfileHTTP",
      "encrypted": "no",
      "value": "/Common/http"
    },
    {
      "name": "vs__ProfileOneConnect",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfilePerRequest",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileRequestLogging",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileSecurityDoS",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileSecurityIPBlacklist",
      "encrypted": "no",
      "value": "none"
    },
    {
      "name": "vs__ProfileSecurityLogProfiles",
      "encrypted": "no"
    },
    {
      "name": "vs__ProfileServerProtocol",
      "encrypted": "no",
      "value": "/Common/tcp"
    },
    {
      "name": "vs__ProfileServerSSL",
      "encrypted": "no"
    },
    {
      "name": "vs__RouteAdv",
      "encrypted": "no",
      "value": "disabled"
    },
    {
      "name": "vs__SNATConfig",
      "encrypted": "no",
      "value": "automap"
    },
    {
      "name": "vs__SourceAddress",
      "encrypted": "no",
      "value": "0.0.0.0/0"
    },
    {
      "name": "vs__VirtualAddrAdvOptions",
      "encrypted": "no"
    }
  ]
}
